@font-face {
    font-family: 'Proba Pro';
    src: local('Proba Pro Italic'), local('ProbaPro-Italic'), url('Probaproitalic.woff2') format('woff2'), url('Probaproitalic.woff') format('woff'), url('Probaproitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Proba Pro';
    src: local('Proba Pro Regular'), local('ProbaPro-Regular'), url('Probaproregular.woff2') format('woff2'), url('Probaproregular.woff') format('woff'), url('Probaproregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
