/*body, html {
    height: 100%;
    width: auto;
    width: 95vw;
    margin:10px ;

}*/

/* The hero image */


/* Place text in the middle of the image */
@media screen and (max-width: 568px) {
    .h1, h1 {
        margin-top: 50%;
        padding-top:50%;
    }

}
