
.logoclose {
    width: 10%;
}

.logoimg {
    margin-top: -4%;
    margin-bottom: 1%;
}
.print {
    border: 1px solid #625d5d;
    margin-left: 45%;
}

.rowmodals {
    width: auto;
    height: 8%;
    margin-left: 0;
    display: flex;
    line-height: .5rem;
}

.logoarrow {
    width: 10rem;
    height: 40%;
    margin-top: 2%;
}

@media screen and (min-width: 1200px) {
    .logoimg {
        margin-top: -20%;
    }
    .value {
        font-weight: bold;
        margin-left: 65%;
        margin-bottom: -3%;
        margin-right: 1rem;
        margin-top: 2rem;
        color: #0768bd;
        line-height: 1rem;
    }
    .logoarrow {
        width: 6rem;
        height: 40%;
        margin-top: 2%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .logoimg {
        margin-top: -15%;
    }
    .value {
        font-weight: bold;
        display: flex;
        margin-left: 61%;

        color: #0768bd;
    }
}
@media screen  and (min-width: 568px) and (max-width: 768px) {
    .value {
        font-weight: bold;
        margin-left: 49%;
        display: flex;
        margin-right: .3rem;
        color: #0768bd;
    }

    .logoimg {
        margin-top: -7%;
    }
    .print {
        border: 1px solid #625d5d;
        margin-left: 45%;
    }
    .rowmodals {
        width: auto;
        height: 10%;
        display: flex;
        line-height: .5rem;
    }
    .logoarrow {
        width: 4rem;
        height: 50%;
    }
    .logoclose {
        width: 40%;
    }
}
@media screen   and (min-width: 440px) and (max-width: 568px) {
        .value {
            font-weight: bold;
            margin-left: 30%;
            display: flex;
            margin-right: 1rem;
            color: #0768bd;
        }
    .logoimg {
        margin-top: -10%;

        margin-bottom: 1%;
    }

}

@media screen   and (min-width: 300px) and (max-width: 440px) {
    .value {
        font-weight: bold;
        margin-left: 15%;
        display: flex;
        margin-right:0rem;
        color: #0768bd;
    }
    .logoimg {
        margin-top: -10%;

        margin-bottom: 1%;
    }

}
