
.logoimg {
    margin-top: -20%;
    margin-bottom: 1%;
}
.print {
    border: 1px solid #625d5d;
    margin-left: 45%;
}

.rowmodals {
    width: auto;
    height: 8%;
    margin-left: 0;
    display: flex;
    line-height: .5rem;
}

@media screen and (min-width: 2560px) {
    .logoimg {
        margin-top: -20%;
    }
    .value {
        font-weight: bold;
        margin: 2rem 1rem -3% 65%;
        color: #1b285f;
        line-height: 1rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 2560px) {
    .logoimg {
        margin-top: -20%;
    }
    .value {
        font-weight: bold;
        display: flex;
        margin-left: 71%;

        color: #1b285f;
    }
}
@media screen  and (min-width: 568px) and (max-width: 768px) {
    .value {
        font-weight: bold;
        margin-left: 49%;
        display: flex;
        margin-right: .3rem;
        color: #1b285f;
    }

    .logoimg {
        margin-top: -20%;
    }
    .print {
        border: 1px solid #1b285f;
        margin-left: 45%;
    }
    .rowmodals {
        width: auto;
        height: 10%;
        display: flex;
        line-height: .5rem;
    }

}
@media screen   and (min-width: 440px) and (max-width: 568px) {
        .value {
            font-weight: bold;
            margin-left: 30%;
            display: flex;
            margin-right: 1rem;
            color: #1b285f;
        }
    .logoimg {
        margin-top: -20%;

        margin-bottom: 1%;
    }

}

@media screen   and (min-width: 300px) and (max-width: 440px) {
    .value {
        font-weight: bold;
        margin-left: 15%;
        display: flex;
        margin-right:0;
        color: #1b285f;
    }
    .logoimg {
        margin-top: -20%;

        margin-bottom: 1%;
    }

}
