
footer {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    border: none;
    background: #1b285f;
    color: #fdfbfb;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}

.sitename1 {
    font-weight: bold;
    line-height: 1.42857143;
    color: #fdfbfb;
    font-family: Proba, sans-serif;
    display: flex;


}
.sitename2 {
    font-weight: bold;
    line-height: 1.42857143;
    color: #fdfbfb;
    font-family: Proba, sans-serif;
    display: flex;


}
.sitename {
    font-weight: bold;
    line-height: 1.42857143;
    color: #fdfbfb;
   font-family: Proba,sans-serif;
    display: flex;
 justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;}


.address {
    line-height: 1.42857143;
    color: #fdfbfb;
    font-family: Proba, sans-serif;
}


.footer a {
    color: #e9e9e9;
    text-decoration: none;
    padding: 4px 0;
    display: block;
    line-height: 1.42857143;
}

.footer .links-block .block-title {
    font-weight: bold;
    color: #fdfbfb;
    font-family: Proba, sans-serif;
    margin-bottom: 0.8em;

}

.copyrights.cy {
    margin-left:1%;
    color: #fec248;
    font-weight: bold;
    font-size: .6rem;
}
.block-title{
    font-weight: bold;
    color: #fdfbfb;
    font-family: Proba, sans-serif;

}
.rowfooter{
    width: auto;
    display: flex;
}
.footcol{
    width:35%;
    margin-left: 2rem;
    padding-left: 2rem;
}
.logo-img{
     width: 3rem;
 }
@media screen and (max-width: 568px) {
    .footcol{
        width:100%;
        margin-left: 2rem;
        padding-left: 2rem;
    }
    .rowfooter{
        width: auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: .2rem;
    }
    .logo-img{
        width: 2rem;
    }
    .footer a {
        color: #e9e9e9;
        text-decoration: none;
       padding:  0;
        display: block;
        line-height: 1;
    }
    .sitename {
        font-weight: bold;
        line-height: 1.42857143;
        color: #fdfbfb;
        font-family: Proba, sans-serif;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin-bottom: 1rem;margin-top: .5rem;
        flex-wrap: wrap;}
}
