
footer {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0;
    border: none;
    background: #045ba7;
    color: #fdfbfb;
}
.flex-1 {
    flex: 1;
}

.flex-row {
    flex-direction: row;
}
.flex {
    display: flex;
}
.footer .footer-cols .flex-item:first-child {
    padding-left: 0;
}

.footer .footer-cols .flex-item {
    border-right: 1px solid #0768bd;
    padding: 0 25px;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}
.table-cell .vat{
    vertical-align: top;
    display: table-cell;
    margin-left: 3rem;
    padding-left: 2rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sitename1 {
    font-weight: bold;
    line-height: 1.42857143;
    color: #fdfbfb;
    font-family: 'PT Sans',sans-serif;
    display: flex;


}
.sitename2 {
    font-weight: bold;
    line-height: 1.42857143;
    color: #fdfbfb;
    font-family: 'PT Sans',sans-serif;
    display: flex;
    margin-top: -6.2rem;

}
.sitename {
    font-weight: bold;
    line-height: 1.42857143;
    color: #fdfbfb;
   font-family: 'PT Sans',sans-serif;
    display: flex;
 justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;}


.descr {
    line-height: 1.42857143;
    margin-bottom: 1.6em;
    color: #fdfbfb;
    font-family: 'PT Sans',sans-serif;

}
.address {
    line-height: 1.42857143;
    color: #fdfbfb;
    font-family: 'PT Sans',sans-serif;
}


.footer a {
    color: #e9e9e9;
    text-decoration: none;
    padding: 4px 0;
    display: block;
    line-height: 1.42857143;
}

.footer .foot-menu ul.secondary {
    float: none;
}
.footer .footer-cols .flex-item:last-child {
    border-right: none;
    padding-right: 0;
}

.footer .links-block .block-title {
    font-weight: bold;
    color: #fdfbfb;
    font-family: 'PT Sans',sans-serif;
    margin-bottom: 0.8em;

}
.footer .links-block .more {
    margin-top: 1em;
    margin-bottom: -0.5em;
}
.copyrights.cy {
    margin-top: 2%;
    margin-left: 2%;
    color: #ffd746;
    font-weight: bold;
    font-size: .8rem;
}
.block-title{
    font-weight: bold;
    color: #fdfbfb;
    font-family: 'PT Sans',sans-serif;

}
@media screen and (max-width: 568px) {

}
