
footer {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0;
    border: none;
    background: #045ba7;
    color: #fdfbfb;
}
.flex-1 {
    flex: 1;
}

.flex-row {
    flex-direction: row;
}
.flex {
    display: flex;
}
.footer .footer-cols .flex-item:first-child {
    padding-left: 0;
}

.footer .footer-cols .flex-item {
    border-right: 1px solid #0768bd;
    padding: 0 25px;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}
.table-cell.vat{
    vertical-align: top;
    display: table-cell;
}
.footer .footer-cols .flex-item .logo {
    margin-right: 20px;
    width: 80px;
    display: block;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
 .logo {
    margin-right: 20px;
    width: 80px;
    display: block;
}
.sitename {
    font-weight: bold;
    line-height: 1.42857143;
    color: #fdfbfb;
    font-family: 'PT Sans',sans-serif;

}
.descr {
    line-height: 1.42857143;
    margin-bottom: 1.6em;
    color: #fdfbfb;
    font-family: 'PT Sans',sans-serif;

}
.address {
    line-height: 1.42857143;
    color: #fdfbfb;
    font-family: 'PT Sans',sans-serif;
}
.on-map {
    color: #fdfbfb;
    margin-bottom: 1.6em;
}
.social {
    color: #fdfbfb;
}
.footer a {
    color: #e9e9e9;
    text-decoration: none;
    padding: 4px 0;
    display: block;
    line-height: 1.42857143;
}
.footer a :hover{
    color:  #ffd746;
    text-decoration: none;
}
.footer .foot-menu ul.secondary {
    float: none;
}
.footer .footer-cols .flex-item:last-child {
    border-right: none;
    padding-right: 0;
}

.footer .links-block .block-title {
    font-weight: bold;
    color: #fdfbfb;
    font-family: 'PT Sans',sans-serif;
    margin-bottom: 0.8em;

}
.footer .links-block .more {
    margin-top: 1em;
    margin-bottom: -0.5em;
}
.copyrights.cy {
    color: #ffd746;
    font-weight: bold;
    font-size: 1rem;
}
.block-title{
    font-weight: bold;
    color: #fdfbfb;
    font-family: 'PT Sans',sans-serif;

}
