body {
    font-family: Proba, sans-serif;
}

* {
    box-sizing: border-box;
}

.card-carousel {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction:row;
    height: auto;
    margin:  auto;
    align-items: center;
    position: relative;
}

.card {
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    padding: 10px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    height: auto;
    margin:  auto;
    transition: all 0.75s ease;
    opacity: 0;
    position: absolute;
    transform: scale(0.85) translateY(50px);
}

.card h2,
.card p {
    line-height: 1.5;
    margin: 0;
}

.card.next {
    opacity: 1;
    z-index: 0;
}

.logoimgcard{

}
@media screen and (max-width: 568px) {
    .logoimgcard{
        width: 3rem;
    }
    @media screen and (min-width: 568px) and (max-width: 1200px) {
        .logoimgcard{
            width: 3rem;
        }
    }
}
