
@font-face {
   font-family: Proba;
   src: local('Proba'), url(./fonts/Probaproregular.woff) format('woff');
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   /* other formats include: 'woff2', 'truetype, 'opentype',
                             'embedded-opentype', and 'svg' */
}
code {
   font-family: Proba,
      monospace;
}
